In [2]:
import pandas as pd
from sklearn.linear_model import LinearRegression

In [3]:
df = pd.read_csv('housing.csv')

In [4]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(df.drop('MEDV',axis=1),df['MEDV'], test_size=0.2, random_state=666)

In [8]:
model = LinearRegression()

In [9]:
model.fit(X_train,y_train)

LinearRegression()

In [10]:
pred = model.predict(X_test)

In [15]:
from sklearn.metrics import mean_squared_error
from math import sqrt
print('Ошибка RMSE = ', sqrt(mean_squared_error(y_test,pred, squared=True)))
print('Ошибка MSE=',mean_squared_error(y_test,pred,squared=True))

Ошибка RMSE =  5.21592157108421
Ошибка MSE= 27.205837835701576

## Решающие деревья

In [17]:
from sklearn import tree
tree_regressor = tree.DecisionTreeRegressor()
tree_regressor.fit(X_train,y_train)

DecisionTreeRegressor()

In [18]:
tree_pred = tree_regressor.predict(X_test)

In [19]:
print('Ошибка RMSE = ', sqrt(mean_squared_error(y_test,tree_pred,  squared=True)))
print('Ошибка MSE=',mean_squared_error(y_test,tree_pred,squared=True))

Ошибка RMSE =  5.942122813390158
Ошибка MSE= 35.30882352941177

## при вычислении эти ошибки получились намного выше, чем в программе orange. не могу понять, почему.

In [69]:
frame = {'Важность параметров':tree_regressor.feature_importances_,'Параметры':X_train.columns}
result = pd.DataFrame(frame)
result.sort_values(by='Важность параметров', ascending=False)

    Важность параметров Параметры
5              0.565623        RM
12             0.262765     LSTAT
0              0.039175      CRIM
4              0.031013       NOX
7              0.028155       DIS
2              0.022703     INDUS
10             0.017584   PTRATIO
9              0.013744       TAX
11             0.008111         B
6              0.007852       AGE
3              0.001590      CHAS
8              0.001107       RAD
1              0.000578        ZN